body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #555;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
}


    .navbar {
overflow: hidden;
background-color: #333;
    } 

main {
    position: relative;
    z-index: 2;
}


#fondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.cuadro {
    margin: 10px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.474);

}

#image {
    float: right;
    height: 200px;
    width: 300px;
}

#image2 {
    float: right;
    height: 200px;
    width: 300px;
}

#image3 {
    float: right;
    height: 400px;
    width: 500px;
}

a:hover {
  color: red;
}

